.signin {
  left: 0;
  width: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;

  .signin-form {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: nowrap;
      margin: 2rem;

      .input-field {
          background-color: #eee;
          border: none;
          margin: 8px 0;
          padding: 10px 15px;
          font-size: 13px;
          border-radius: 8px;
          width: 100%;
          outline: none;
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-around;
          gap: 0.3rem;
      }

      .show-password:hover{
          cursor: pointer;
          
      }

      .submit-btn {
          background-color: #0e377452;
          color: #060606;
          font-size: 12px;
          padding: 10px 45px;
          border: 1px solid transparent;
          border-radius: 8px;
          font-weight: 600;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          margin-top: 10px;
          cursor: pointer;
      }


  }

  .social-login {
      display: flex;
      align-items: center;
      flex-direction: column;

      .social-text {
          margin-bottom: 1rem;
      }
  }

}